
header{
    background: #000;
    
    
}

ul li{
    font-size: 18px;
    
}

ul li a:hover{
    color: #8e380e;
 
}
.matricule{
    background: #e9631e;
    font-size: 20px;
    color: #000;
    border-radius: 15px;
}
ul li a{
    color: #fff;}

.divisor{
    width: 1px;
    background: black;
    margin: 12px 20px 12px 15px;
}

body{
    font-family: 'Roboto',sans-serif;
    padding: 0;
    margin: 0;
    background:  no-repeat #d9d9d9;
    background-size: cover;
    background-position: center;

    
}

span{
    color: #000;
    
}

i{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}

.loc:hover{
    color: #e9631e;
}

.planos{
    
    
    background-color: #000;
    color: #fff;
    
    
}

.planos:hover{
    
    background-color: #8e380e
    
    
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

li{

font-family:sans-serif;
}

.preco{
    font-family:Trebuchet MS;
    color: #e9631e;
}

footer{
    
    padding-bottom: 20px;
}

.siga-max{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    
}

tr{
    border: 3px solid #000000;
    padding: 1;
    
}
td{
    border: 3px solid #000000;
    padding: 5px;
}
table{
    background-color: #fff;
    color: #000;
}

.exemplo{
    margin: 50px 0px 0px 0px;
    
}
.pontasRedondas{
    border-radius: 30px;
}



