<%- include('includes/head') %>
<%- include('includes/navbar') %>
<%- include('includes/messages') %>


<div class="container"><!--CONTAINER CONTEUDO-->

    
    
    <div class="row">




        <div class="col-md-5 m-auto">
            
                
            <a href="">
                <div class="card planos mt-2">
                    <div class="card-body">
                    <h4 class="card-title">Plano </h4>
                    <div class=" container">
                                                    
                        <h2 class="preco">R$52,00</h2>

                                <ul class="navbar-nav">
                                    <h4 class="ml-4">ATIVO</h4>
                                    
                                    <h4 class="ml-4">Cartão Crédito 0947</h4>

                                
                                </ul>
                    </div>

                    </div>
                </div>
            </a>
                
            
            
        </div>

        <div class="col-md-4 mt-4">
            <h2 class="d-flex justify-content-center">Calendário</h2>
            <table class="d-flex justify-content-around" style="background-color: #d9d9d9;" >

        
                <tr >
                    <th>dom</th>
                    <th>seg</th>
                    <th>ter</th>
                    <th>qua</th>
                    <th>qui</th>
                    <th>sex</th>
                    <th>sab</th>
                </tr>

                
                <tr>
                  <td style="background-color: red; color: #d9d9d9;">1</td>
                  <td style="background-color: red; color: #d9d9d9;">2</td>
                  <td style="background-color: green; color: #d9d9d9;">3</td>
                  <td style="background-color: green; color: #d9d9d9;">4</td>
                  <td style="background-color: green; color: #d9d9d9;">5</td>
                  <td style="background-color: green; color: #d9d9d9;">6</td>
                  <td style="background-color: blue; color: #d9d9d9;">7</td>
                </tr>
                <tr>
                  <td style="background-color: red; color: white;">8</td>
                  <td style="background-color: green; color: white;">9</td>
                  <td style="background-color: green; color: white;">10</td>
                  <td style="background-color: green; color: white;">11</td>
                  <td style="background-color: green; color: white;">12</td>
                  <td style="background-color: green; color: white;">13</td>
                  <td style="background-color: blue; color: white;">14</td>
                </tr>
                <tr>
                    <td style="background-color: red; color: white;">15</td>
                    <td style="background-color: green; color: white;">16</td>
                    <td style="background-color: green; color: white;">17</td>
                    <td style="background-color: green; color: white;">18</td>
                    <td style="background-color: green; color: white;">19</td>
                    <td style="background-color: green; color: white;">20</td>
                    <td style="background-color: blue; color: white;">21</td>
                </tr>

                <tr>
                    <td style="background-color: red; color: white;">22</td>
                    <td style="background-color: green; color: white;">23</td>
                    <td style="background-color: green; color: white;">24</td>
                    <td style="background-color: green; color: white;">25</td>
                    <td style="background-color: green; color: white;">26</td>
                    <td style="background-color: green; color: white;">27</td>
                    <td style="background-color: blue; color: white;">28</td>
                </tr>

                <tr>
                    <td style="background-color: red; color: white;">29</td>
                    <td style="background-color: green; color: white;">30</td>
                    <td style="background-color: green; color: white;">31</td>
                    <td style="background-color: green; color: white;">1</td>
                    <td style="background-color: green; color: white;">2</td>
                    <td style="background-color: green; color: white;">3</td>
                    <td style="background-color: blue; color: white;">4</td>
                    
                </tr>
             
                
            </table>


                
        </div>

        <div class="col-md-3 mt-4 ">
            <div class="exemplo">
                <p style="color: aliceblue; background-color: green; padding: 3px; padding: 5px;" class="pontasRedondas">Funcionamento 8h-21h</p>
                <p style="color: aliceblue; background-color: blue; padding: 3px; padding: 5px;" class="pontasRedondas"">Funcionamento 8h-12h</p>
                <p style="color: aliceblue; background-color: red; padding: 3px; padding: 5px;" class="pontasRedondas"">Fechado</p>
            </div>
        </div>

    </div>




    <div class="d-flex justify-content-center mt-5">
        <h2>FICHA DE TREINO</h2>
    </div>
    
    <div id="carousel-control" class="carousel slide mt-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-control" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-control" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
    
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="col-md-12">
                    <img src="../../frontend/assets/img/TREINO A.png" class="img-fluid" style="border-bottom: 20px;" alt="Treino A">
                </div>
            </div>
    
            <div class="carousel-item">
                <div class="col-md-12">
                    <img src="../../frontend/assets/img/TREINO B.png" class="img-fluid" style="border-bottom: 20px;" alt="Treino B">
                </div>
            </div>
        </div>
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-control" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-control" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
    </div>
    


</div><!--CONTAINER CONTEUDO-->

<%- include('includes/footer') %>