<%- include('includes/head') %>
<%- include('includes/navbar') %>

<div class="text-center mt-4 container-fluid">
    <a href="/planos">
        <picture>
            <source srcset="../../frontend/assets/img/tela_valor_MD.png" media="(min-width: 768px)">
            <source srcset="../../frontend/assets/img/tela_valor_SM.png" media="(max-width: 767px)">
            <img src="../../frontend/assets/img/localizacao_SM.png" class="img-fluid pontasRedondas" alt="Tela de valor">
        </picture>
    </a>
</div>

  



<!-- INICIO PLANOS -->
<section class="container py-5" id="planos">
    <div class="text-center mb-4">
      <div class="container">
        <h1 class="custom-title">VEM PRA <span style="color: #000;">MAX</span>FIT</h1>
        <p class="text-center" style="font-size: 18px;">Os melhores equipamentos e infraestrutura com mensalidades acessíveis.</p>
    </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <!-- Plano Black -->
      <div class="col">
        <div class="card h-100 border-dark shadow-sm">
          <div class="card-header  text-white text-center" style="background-color: #000;">
            <h3 class="card-title">Plano <b>Black</b></h3>
          </div>
          <div class="card-body">
            <p class="card-text">Treine em qualquer academia da Maxfit, seja no Brasil ou na América Latina. São +1.500 unidades em 15 países!</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check-circle text-success"></i> Acesso ilimitado a +1.500 academias</li>
              <li><i class="bi bi-check-circle text-success"></i> Leve 5 amigos por mês para treinar com você</li>
              <li><i class="bi bi-check-circle text-success"></i> Cadeira de massagem</li>
              <li><i class="bi bi-check-circle text-success"></i> Maxfit GO (treinos online) no app</li>
              <li><i class="bi bi-check-circle text-success"></i> Área de musculação e aeróbicos</li>
              <li><i class="bi bi-check-circle text-success"></i> Maxfit App</li>
            </ul>
          </div>
          <div class="card-footer text-center">
            <p class="text-muted mb-0">A PARTIR DE</p>
            <h4 class="fw-bold">R$ 52,00*</h4>
            <p class="text-muted"><b>no 1º mês</b>, depois R$ 69,90/mês</p>
            <p class="small">12 meses de fidelidade</p>
            <a href="/planos" class="btn btn-success text-white">Matricule-se</a>
          </div>
        </div>
      </div>
      <!-- Plano Fit -->
      <div class="col">
        <div class="card h-100 border-primary shadow-sm">
          <div class="card-header bg-primary text-white text-center">
            <h3 class="card-title">Plano <b>Fit</b></h3>
          </div>
          <div class="card-body">
            <p class="card-text">Nosso plano mais econômico para você se exercitar quando e quanto quiser na academia que escolher!</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-x-circle text-danger"></i> Leve amigos</li>
              <li><i class="bi bi-x-circle text-danger"></i> Cadeira de massagem</li>
              <li><i class="bi bi-x-circle text-danger"></i> Acesso ilimitado</li>
              <li><i class="bi bi-check-circle text-success"></i> Maxfit GO (treinos online) no app</li>
              <li><i class="bi bi-check-circle text-success"></i> Área de musculação e aeróbicos</li>
              <li><i class="bi bi-check-circle text-success"></i> Maxfit App</li>
            </ul>
          </div>
          <div class="card-footer text-center">
            <p class="text-muted mb-0">A PARTIR DE</p>
            <h4 class="fw-bold">R$ 60,00*</h4>
            <p class="text-muted"><b>no 1º mês</b>, depois R$ 69,90/mês</p>
            <p class="small">12 meses de fidelidade</p>
            <a href="/planos" class="btn btn-success text-white">Matricule-se</a>
          </div>
        </div>
      </div>
      <!-- Plano Smart -->
      <div class="col">
        <div class="card h-100  shadow-sm" style="border-color: #ff8a00;">
          <div class="card-header text-white text-center" style="background-color: #ff8a00;">
            <h3 class="card-title">Plano <b>Max</b></h3>
          </div>
          <div class="card-body">
            <p class="card-text">Nosso plano mensal para você que não quer se comprometer, mas quer treinar em uma academia de alto padrão!</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-x-circle text-danger"></i> Leve amigos</li>
              <li><i class="bi bi-x-circle text-danger"></i> Cadeira de massagem</li>
              <li><i class="bi bi-x-circle text-danger"></i> Acesso ilimitado</li>
              <li><i class="bi bi-check-circle text-success"></i> Maxfit GO (treinos online) no app</li>
              <li><i class="bi bi-check-circle text-success"></i> Área de musculação e aeróbicos</li>
              <li><i class="bi bi-check-circle text-success"></i> Maxfit App</li>
            </ul>
          </div>
          <div class="card-footer text-center">
            <p class="text-muted mb-0">A PARTIR DE</p>
            <h4 class="fw-bold">R$ 70,00*</h4>
            <p class="text-muted"><b>no 1º mês</b>, depois R$ 79,90/mês</p>
            <p class="small">Sem fidelidade</p>
            <a href="/planos" class="btn btn-success text-white">Matricule-se</a>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- FIM PLANOS -->



<%- include('includes/footer') %>

