<%- include('includes/head') %>
<%- include('includes/navbar') %>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="text-center  display-5 fw-bold custom-title">Cadastro</h1>
            <p class="text-center text-muted fs-5">Já possui login? Insira suas credenciais</p>


            <%- include('includes/messages') %>

            <form action="/cadastro/login" method="POST"class="p-4 shadow rounded bg-light">
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha" required>
                </div>

                <p class="mt-3"><a href="">Esqueceu a senha?</a></p>
               
                <div class=" col-lg-2 justify-content-center">
                    <button type="submit" class="btn btn-primary w-100 py-2">Entrar</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
