<%- include('includes/head') %>
<%- include('includes/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Login</h1>
            <p class="text-center lead">Se você já possui conta, insira seus dados: </p>



            <div class="row d-flex justify-content-center">

                <!--LOGIN-->
                <div class="col-lg-6  my-5">
                    <form class="form-login " action="/login/login" method="POST">
                        <div class="mb-3">
                          <label class="form-label">Email</label>
                          <input type="email" class="form-control" name="email">
                          
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Sua senha</label>
                            <input type="password" class="form-control" name="password">
                            
                          </div>


                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <p class="mt-3"><a href="">Esqueceu a senha?</a></p>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>
